<div class="container mt-4">
  <div class="col-12 col-md-8 mx-auto">
    <div class="row">
      <div class="col text-center">
        <h3>Optimal SilentPost Simulation</h3>
        <hr>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="jumbotron">
          <div class="text-center">
            <% if @response.kind_of? Net::HTTPSuccess %>
              <h3 class="text-success" style="margin-top: 0">Failed!</h3>
              <i class="text-success fas fa-check-circle fa-5x"></i>
            <% else %>
              <h3 class="text-danger" style="margin-top: 0">Failed!</h3>
              <i class="text-danger fas fa-times-circle fa-5x"></i>
            <% end %>
            <br/>
          </div>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <h4>Params Recieved</h4>
        <pre><code><%= @pp %></code></pre>
        <br />
        <a class="btn btn-primary" href="/">Go back</a>
      </div>
    </div>

  </div>
</div>
